:host{
    display:block;
    border: 1px solid lightgray;
    border-radius: 3px;
    max-width:400px;
    width:100%;
    background-color: lightgray;

    
}

.gallery-image{
    width:100%;
}

.heading{
    padding: 10px;
}