body{
    // theming using css custom properties. These can be accessed by the shadow dom on a web component
    --theme-button-colour: #29abe2;

    font-family: sans-serif;
    color: darkdarkgray;
}

.test-carousel{
    margin:10px 0;
    display: inline-block;

    // the following style will not work because we are using shadow dom for this custom element
    & shadow-card{
        width: 100px;
    }
}